<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <div class="mb-2">
        <input type="email" class="form-control" id="input1" aria-describedby="emailHelp" placeholder="Search"
          #searchInput (keyup)="search(searchInput.value)">
      </div>
    </div>
  </div>
  <table class="table table-responsive table-hover table-bordered">
    <thead>
      <tr class="bg-primary">
        <th scope="col">Roll no.</th>
        <th scope="col">Name</th>
        <th scope="col">Class</th>
        <th scope="col">Section</th>
        <th scope="col">Progress</th>
        <th scope="col">Marks</th>
        <th scope="col">School</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of userDetails | userFilterPipe: filterData | paginate: { itemsPerPage: pageSize, currentPage: currentPage } ">
        <th scope="row">{{user.rollNo}}</th>
        <td>{{user.name}}</td>
        <td>{{user.class}}</td>
        <td>{{user.section}}</td>
        <td>{{user.progress}}</td>
        <td>{{user.marks}}</td>
        <td>{{user.school}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary">Update</button>
          <button type="button" class="btn btn-outline-danger ms-2">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
